/* Descriptive color variables */

$black: #000;
$light-blue: #0dbcf9;
$dark-green: #4f9e52;
$dark-grey: #888;
$light-grey: #ddd;
$darker-grey: #111;

/* Background Formatting */

body {
  text-align: left;
  background-color: $black;
  color: $light-blue;
}

/* Button Formatting */

button {
  background-color: $black;
  color: $dark-green;
  font-family: verdana;
  font-size: 15px;
  padding: 10px 5px;
  margin: 4px 1px;
  border: $light-blue;
  cursor: pointer;
  width: 75%;
  border-radius: 5px;
  text-align: left;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.2s;
  float: left;

  &:hover {
    background-color: $light-blue;
    color: $black;
  }
}

.play_remove_button {
  font-size: 0px;
  background-color: $black;
  background: transparent url(/resources/images/minusbutton.png) no-repeat;
  background-size: 100% 100%;
  width: 35px;
  height: 35px;
  transition: all ease-in-out 0.2s;

  &:hover {
    border: 1px solid $dark-grey;
    background-color: $light-grey;
  }
}

.play_add_button {
  font-size: 0px;
  background-color: $black;
  background: transparent url(/resources/images/plusbutton.png) no-repeat;
  background-size: 100% 100%;
  width: 35px;
  height: 35px;
  transition: all ease-in-out 0.2s;

  &:hover {
    border: 1px solid $dark-grey;
    background-color: $light-grey;
  }
}

.play_add_dropdown_button {
  font-size: 0px;
  background-color: $black;
  background: transparent url(/resources/images/plusdropdownbutton.png) no-repeat;
  background-size: 100% 100%;
  width: 35px;
  height: 35px;
  transition: all ease-in-out 0.2s;

  &:hover {
    border: 1px solid $dark-grey;
    background-color: $light-grey;
  }
}

.upvote_button {
  font-size: 0px;
  background-color: $black;
  background: transparent url(/resources/images/up_arrow.png) no-repeat;
  background-size: 100% 100%;
  width: 35px;
  height: 35px;
  transition: all ease-in-out 0.2s;

  &:hover {
    border: 1px solid $dark-grey;
    background-color: $light-grey;
  }
}

.downvote_button {
  font-size: 0px;
  background-color: $black;
  background: transparent url(/resources/images/down_arrow.png) no-repeat;
  background-size: 100% 100%;
  width: 35px;
  height: 35px;

  &:hover {
    border: 1px solid $dark-grey;
    background-color: $light-grey;
  }
}

.favourite_button {
  font-size: 0px;
  background-color: #000;
  background: transparent url(/resources/images/empty_heart.png) no-repeat;
  background-size: 100% 100%;
  width: 35px;
  height: 35px;
  transition: all ease-in-out 0.2s;

  &:hover {
    border: 1px solid #888;
    background-color: #ddd;
  }
}

.unfavourite_button {
  font-size: 0px;
  background-color: #000;
  background: transparent url(/resources/images/heart.png) no-repeat;
  background-size: 100% 100%;
  width: 35px;
  height: 35px;
  transition: all ease-in-out 0.2s;

  &:hover {
    border: 1px solid #888;
    background-color: #ddd;
  }
}

.menu_button_small {
  font-size: 0px;
  background-color: #000;
  background: transparent url(/resources/images/menu.png) no-repeat;
  background-size: 100% 100%;
  width: 35px;
  height: 35px;
  transition: all ease-in-out 0.2s;

  &:hover {
    border: 1px solid #888;
    background-color: #ddd;
  }
}

.home_button_small {
  float: right;
  font-size: 0px;
  background-color: #000;
  background: transparent url(/resources/images/home.png) no-repeat;
  background-size: 100% 100%;
  width: 35px;
  height: 35px;
  transition: all ease-in-out 0.2s;

  &:hover {
    border: 1px solid #888;
    background-color: #ddd;
  }
}

nav {
 overflow: hidden;
}

.main_button_group_small {
 width: 100%;
 height: auto;
 overflow: hidden;
}

.sub_button_group_small {
 width: 100%;
 height: auto;
 overflow: hidden;
}

.main_tabbar_button_small {
  background-color: $darker-grey;
  width: auto;
}

.sub_tabbar_button_small {
  background-color: #333;
  width: auto;
}

.sub_tabbar_button_medium {
  background-color: $darker-grey;
}

.sub_tabbar_button_big {
  background-color: $darker-grey;
}


#favourite_gold {
  font-size: 0px;
  background-color: #000;
  background: transparent url(/resources/images/empty_heart_gold.png) no-repeat;
  background-size: 100% 100%;
  width: 35px;
  height: 35px;
  transition: all ease-in-out 0.2s;

  &:hover {
    border: 1px solid #888;
    background-color: #ddd;
  }
}

#unfavourite_gold {
  font-size: 0px;
  background-color: #000;
  background: transparent url(/resources/images/heart_gold.png) no-repeat;
  background-size: 100% 100%;
  width: 35px;
  height: 35px;
  transition: all ease-in-out 0.2s;

  &:hover {
    border: 1px solid #888;
    background-color: #ddd;
  }
}

/* Table Formatting*/

table,
td {
  border-collapse: collapse;
  border-style: solid;
  color: $light-blue;
  border: $light-blue;
  font-family: verdana;
}

tr:nth-child(even) {
  background-color: $darker-grey;
  color: $light-blue;
  font-family: verdana;
}

th {
  background-color: #555555;
  color: white;
  font-family: verdana;
}

/* Header Formatting */

h1 {
  color: $light-blue;
}

hr {
  display: block;
  margin-before: 0.5em;
  margin-after: 0.5em;
  margin-start: auto;
  margin-end: auto;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
  border-color: $light-blue;
}

/* Search Bar Formatting */

input.search-query {
  background-color: #f47443;
  color: white;
}
