body {
  text-align: left;
  background-color: #000;
  color: #0dbcf9;
}
button {
  background-color: #000;
  color: #4f9e52;
  font-family: verdana;
  font-size: 15px;
  padding: 10px 5px;
  margin: 4px 1px;
  border: #0dbcf9;
  cursor: pointer;
  width: 75%;
  border-radius: 5px;
  text-align: left;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.2s;
  float: left;
}
button:hover {
  background-color: #0dbcf9;
  color: #000;
}
#upvote {
  font-size: 0px;
  background-color: #000;
  background: transparent url(/resources/images/up_arrow.png) no-repeat;
  background-size: 100% 100%;
  width: 35px;
  height: 35px;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}
#upvote:hover {
  border: 1px solid #888;
  background-color: #ddd;
}
#downvote {
  font-size: 0px;
  background-color: #000;
  background: transparent url(/resources/images/down_arrow.png) no-repeat;
  background-size: 100% 100%;
  width: 35px;
  height: 35px;
}
#downvote:hover {
  border: 1px solid #888;
  background-color: #ddd;
}
#favourite {
  font-size: 0px;
  background-color: #000;
  background: transparent url(/resources/images/empty_heart.png) no-repeat;
  background-size: 100% 100%;
  width: 35px;
  height: 35px;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}
#favourite:hover {
  border: 1px solid #888;
  background-color: #ddd;
}
#unfavourite {
  font-size: 0px;
  background-color: #000;
  background: transparent url(/resources/images/heart.png) no-repeat;
  background-size: 100% 100%;
  width: 35px;
  height: 35px;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}
#unfavourite:hover {
  border: 1px solid #888;
  background-color: #ddd;
}
#favourite_gold {
  font-size: 0px;
  background-color: #000;
  background: transparent url(/resources/images/empty_heart_gold.png) no-repeat;
  background-size: 100% 100%;
  width: 35px;
  height: 35px;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}
#favourite_gold:hover {
  border: 1px solid #888;
  background-color: #ddd;
}
#unfavourite_gold {
  font-size: 0px;
  background-color: #000;
  background: transparent url(/resources/images/heart_gold.png) no-repeat;
  background-size: 100% 100%;
  width: 35px;
  height: 35px;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}
#unfavourite_gold:hover {
  border: 1px solid #888;
  background-color: #ddd;
}
table,
td {
  border-collapse: collapse;
  border-style: solid;
  color: #0dbcf9;
  border: #0dbcf9;
  font-family: verdana;
}
tr:nth-child(even) {
  background-color: #111111;
  color: #0dbcf9;
  font-family: verdana;
}
th {
  background-color: #555555;
  color: white;
  font-family: verdana;
}
h1 {
  color: #0dbcf9;
}
hr {
  display: block;
  margin-before: 0.5em;
  margin-after: 0.5em;
  margin-start: auto;
  margin-end: auto;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
  border-color: #0dbcf9;
}
input.search-query {
  background-color: #f47443;
  color: white;
}
